* {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
}

#title {
    font-size: 36px;
}

#list {
    list-style-type: none;
    padding: 0;
}

.recipe {
    margin-bottom: 5px;
}

.recipe a{
    color: #f5f5f5;
    font-size: 20px;
    background-color: #2b2b2b;
    text-decoration: none;
}

img {
    width: 300px;
    height: auto;
}